@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

:root {
    --main-color:  #e84242;
    --black-color : #292828;
    --border: 0.1rem solid rgba(255,255,255,0.4)
}

*{  
    font-family: "Poppins", "sans-serif";
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

/*!base html codes*/

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:9rem ;
    scroll-behavior: smooth;
}
body {
    background-color: var(--main-color);
    height: 200vh;
}

section{
    padding: 3.5rem 7%;
}
.title {
    font-size: 2rem;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding:2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
}

.sections-heads {
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.2rem solid #fff


}
.sections-spans{
    color: white;
    text-transform: uppercase;

}

/*!Header start*/

.logo img {
    height: 10rem;
}
.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position:sticky;
    top:0;
    z-index: 50000;
}

.header .navbar a {

    margin: 0 1rem;
    font-size: 1.6rem;
    color:var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {

    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left:2rem;
    background-color: transparent;
}

.header .buttons button:hover{
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
}

/*! home section*/

.home {
    min-height: 100vh;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
    
}

.home .content {
    max-width: 60rem;

}
.home .content h3 {
    font-size: 6rem;
    color: #fff;

}

.home .content p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem;
    color: #ccc;
}


/* MENU */

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.menu .box-container .box img {
    width: 100%;
    object-fit: cover;
}

.menu .box-container .box .menu-category {
    font-size: 1.2rem;

}

.menu .box-container .box h3 {
    font-size: 3rem;
    padding: 1rem 0;
}
.menu .box-container .box  .box-head .price {
    font-size: 2rem;
}
.menu .box-container .box  .box-head .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
}
/* .shaped-btn {
    border-radius: 30rem;
} */

.products .box-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
}

.products .box-container .box {
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    min-height: 50rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.products .box-container img {
    width: 100%;
    object-fit: cover;
}

.products .box-container .box h3{
    font-size: 2.8rem;
}

.products .box-container .box span{
    font-size: 1.4rem;
}
.products .box-container .box .box-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 15px;
  
}
.products .box-container .box .box-bottom .product-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

}

.bc-img{
    display: flex;
    background: url(../images/dark-product.jpg);
    background-position: center;
    background-size: 85%;
    justify-content: space-between;
    align-items: center;
}

.bc-img h3,
.bc-img span,
.bc-img p {
    color: white;
}
.bc-img .product-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.box-bottom {
    display: flex;
    justify-content: space-between; /* Separates the left and right */
    align-items: center;
    width: 100%; /* Ensures it spans the entire width */
    padding: 10px 0; /* Adds some space around the content */
}

.product-left,
.product-right {
    display: flex;
    align-items: center;
}
.products .bc-img .box-bottom{
    display: flex;
    align-items: center;
    justify-content:space-between ;

}

/* .shaped-btn {
    background-color: transparent;
    border-color: ;
    color: white;
    padding: 10px;
    border-radius: 30rem;
    border: none;
    cursor: pointer;
    
} */

.shaped-btn{
    background-color: transparent;
    border: none;
}

.shaped-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.2rem solid var(--main-color);
    
}

.shaped-btn a i   {
    font-size: 1.6rem;
    color: var(--main-color);
    opacity: 1;
    box-shadow: none;

}
.shaped-btn a:hover,
.shaped-btn a:focus,
.shaped-btn a:active {
    background-color: white !important;
    box-shadow: none;
}


.about .box-container{
 display: flex;
 justify-content: space-between;   
}

.about-left,.about-right {
    display: flex;
    justify-content: flex-start;
}

.about .about-left img {

    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}